// import Variable
@import "../../../styles/colors.scss";

.footer {
  background-image: $color-primary;
  padding: 1rem;
  margin: 0;
  font-size: 16px;
  color: $color-white-primary;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: all 0.6s ease-in-out;
  border-radius: 0 0 1rem 1rem;

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    min-height: 15rem;
    text-align: center;
    transition: all 0.6s ease-in-out;

    h3 {
      text-align: center !important;
    }
  }

  .row.primary {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: stretch;
    h3 {
      width: 100%;
      text-align: left;
      color: $color-yellow-primary;
      font-size: 1.6rem;
      white-space: nowrap;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      li {
        margin-top: 0.8em;
        &:first-child {
          margin-top: 0;
        }
        a {
          color: $color-white-primary;
          text-decoration: none;
          cursor: pointer;
          font-size: 1rem;
          transition: all 0.4s ease-in-out;

          &:hover {
            color: $color-yellow-primary;
            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
    .about p {
      text-align: justify;
      line-height: 2;
      margin: 0;
    }
  }
  .secondary {
    display: flex;
    justify-content: space-around;
    text-align: center;
    & div {
      padding: 0.5rem 0;
      margin: 0.5rem 0;
      width: 100%;
      transition: all 0.6s ease-in-out;
      &:hover {
        transition: all 0.6s ease-in-out;
        color: $color-yellow-primary;
      }
    }
  }
  .copyright {
    padding: 0.3rem 1rem;
    background-color: $color-dark-blue;
  }
  .copyright p {
    font-size: 0.9rem;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .footer {
    .row.primary {
      grid-template-columns: 2fr;
      text-align: center;
      transition: all 0.6s ease-in-out;
      h3 {
        text-align: center;
      }

      .about {
        padding: 1.2rem;
      }
    }
    .row.secondary {
      flex-direction: column;
      font-size:.9rem;
    }
  }
}

@media screen and (max-width: 425px) {
  .footer {
    .column {
      padding: 0 0.5rem;
      transition: all 0.6s ease-in-out;
    }
    .row.primary {
      grid-template-columns: 1fr;
      text-align: center;
      transition: all 0.6s ease-in-out;
      h3 {
        text-align: center;
        font-size: 1.2rem;
        transition: all 0.6s ease-in-out;
      }

      .about {
        p {
          font-size: 0.7rem;
          transition: all 0.6s ease-in-out;
        }
      }

      ul{
        li{
          a {
            font-size: 0.7rem;
          }
        }
      }
    }
    .row.secondary {
      flex-direction: column;
      font-size:.7rem;
    }
    .copyright p {
      font-size: 0.6rem;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 2100px) {
  .footer{
    margin: 0 auto;
    width: 65%;
  }
}
