<div class="footer">
  <!--  1 SEC  -->
  <div class="row primary">
    <div class="column about">
      <h3>Barber 'Art</h3>
      <p>
        <span style="color: var(--color-yellow-primary); font-weight: 600">
          Ghost Team</span
        >, Nous sommes un groupe de jeune murrit par une grande soif de
        connaissance, qui avons découvert bien assez tôt une meilleure façon
        pour assouvir cette soif, en nous regroupant tous autant que nous sommes
        sans restriction d'âge ou de niveau d'étude au sein d'une même
        communauté afin de partager les connaissances apprises et l'expérience
        acquise à tous et chacun...
      </p>
    </div>
    <div class="column links">
      <h3>Nos Liens importants</h3>
      <ul>
        <li><a routerLink="/profile">Mon Profil</a></li>
        <li><a routerLink="/login">Se Connecter</a></li>
        <li><a routerLink="/barber">Devenir Barber</a></li>
        <li><a routerLink="/signup">Créer un compte</a></li>
      </ul>
    </div>
  </div>
  <!-- 2 SEC   -->
  <div class="row secondary">
    <div>
      <p><i class="pi pi-phone" style="font-size: 2rem"></i></p>
      <p>+1 (819) 876-5432</p>
    </div>
    <div>
      <p><i class="pi pi-envelope" style="font-size: 2rem"></i></p>
      <p>Barber@domain.com</p>
    </div>
    <div>
      <p><i class="bx bx-buildings" style="font-size: 2rem"></i></p>
      <p>1234 Hertel Street</p>
    </div>
  </div>
  <!-- 3 SEC-->
  <div class="row copyright">
    <p>Copyright &copy; 2022 Ghost Team | All Rights Reserved</p>
  </div>
</div>
