<div class="footer">
    <!--  1 SEC  -->
    <div class="row primary">
        <div class="column about">
              <h3>Barber 'Art</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                voluptatem corporis error non, corrupti delectus unde, incidunt
                dolorem quam porro tenetur autem? Maxime aspernatur quas, natus
                nesciunt harum obcaecati voluptatum.
              </p>
        </div>
        <div class="column links">
            <h3>Nos Coiffeurs </h3>
            <ul>
              <li>  <a href="#">Ismael MUTU</a> </li>
              <li>  <a href="#">Ismael MUTU2</a> </li>
              <li>  <a href="#">Smith adam </a></li>
              <li>  <a href="#">Leonard Didier</a></li>
            </ul>
        </div>

    </div>
    <!-- 2 SEC   -->
    <div class="row secondary">
        <div>
          <p><i class="fas fa-phone-alt"></i></p>
                  <p>+1 819456789</p>
        </div>
        <div>
          <p><i class="fas fa-envelope"></i></p>
          <p>Barber@domain.com</p>
        </div>
        <div>
          <p><i class="fas fa-map-marker-alt"></i></p>
          <p>1234 Hertel Street</p>
        </div>
    </div>
  <!-- 3 SEC-->
    <div class="row copyright">
      <p>Copyright &copy; 2022 Ghost Team's | All Rights Reserved</p>
    </div>
</div>
