<div class="container">
  <div
    *ngFor="let haircut of haircuts"
    class="p-col-6 p-md-4 p-lg-3 p-xl-3 p-mb-3 card-reservation"
  >
    <div class="card-reservation-left">
      <div class="card-reservation-left-image">
        <img
          [src]="haircut.imageURL"
          alt="{{ haircut.title }} image"
          width="250px"
          height="175px"
        />
      </div>
      <div class="card-reservation-left-title">
        <h5>{{ haircut.title }}</h5>
      </div>
    </div>
    <div class="card-reservation-right">
      <!-- <span>{{haircut.heure}}<br></span> -->
      <span>{{ haircut.description }}</span>
      <p class="card-reservation-right-price">${{ haircut.price }}</p>
      <p>Temps estimé : {{ haircut.estimatingTime }}</p>

      <div class="card-reservation-right-list-button">
        <button
          pButton
          type="button"
          label="Accepter"
          class="p-button-info"
        ></button>
        <button
          pButton
          type="button"
          label="Supprimer"
          class="p-button-danger"
        ></button>
      </div>
    </div>
  </div>
</div>
