<div class="container">
  <div class="card">
    <div class="left">
      <img
        class="img-radui"
        [src]="haircut.imageURL"
        alt="{{ haircut.title }} image"
      />
      <h4>{{ haircut.title }}</h4>
    </div>
    <div class="right">
      <!-- <span>{{ haircut.heure }}<br /></span> -->
      <span>{{ haircut.description }}</span>
      <p class="price">${{ haircut.price }}</p>
      <p>{{ haircut.estimatingTime }}</p>
    </div>
  </div>
  <div class="card">
    <div class="left">
      <img [src]="haircut.imageURL" alt="{{ haircut.title }} image" />
      <h4>{{ haircut.title }}</h4>
    </div>
    <div class="right">
      <!-- <span>{{ haircut.heure }}<br /></span> -->
      <span>{{ haircut.description }}</span>
      <p class="price">${{ haircut.price }}</p>
      <p>{{ haircut.estimatingTime }}</p>
    </div>
  </div>
</div>
<div class="Button">
  <button
    pButton
    type="button"
    label="Accepter"
    class="p-button-danger Button-i"
  ></button>
</div>
