// variable css pour la couleur de fond
@import "../../styles/colors.scss";
.card-reservation{
  text-align: center;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  //margin: 10em;
  height: 239px;
  width: 100%;
  padding: 10px 10% ;

    .left{
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 1px solid $color-gray-primary;
      height: 100%;
      align-self: stretch;
          img{
            max-width: 95%;
            height: 150px;
            //height: ;
          }
          h4
          {

          }
      }
  .right{
    height: 100%;
    border: 1px solid $color-gray-primary;
    .list-button{
      display: flex;
      justify-content: space-around;
      button{
      }
    }

  }
}
@media (max-width: 750px) {
  .card-reservation ,.list-button{
    height: 100%;
    flex-direction: column;
    .list-button{
      align-items: center;
    button{
      width: 50%;
      margin: 5px 0px;

    }}
  }
  img{
    padding-top:10px ;
    height: auto;
  }
}
