
<!-- Si l'utilisateur est coiffeur et la réservation existe -->
<div class="haircut-card" *ngIf="isBarber && reservation; else elseBlock" (click)="reservationSelected(reservation.id)">
  <img [src]="reservation.haircut?.imageURL" />
  <div class="haircut-card-info">
    <div></div>
    <div>{{ reservation.haircut?.title }}</div>
    <h3>{{ reservation.haircut?.price }} $</h3>
  </div>
</div>

<ng-template #elseBlock>
  <div class="haircut-card" (click)="haircutSelected(haircut.id)">
    <img [src]="haircut.imageURL" />
    <div class="haircut-card-info">
      <div></div>
      <div>{{ haircut.title }}</div>
      <h3>{{ haircut.price }} $</h3>
    </div>
  </div>
</ng-template>


