
<!-- Si l'utilisateur est coiffeur et la réservation existe -->
<div class="haircut-card" *ngIf="isBarber && reservation" (click)="reservationSelected(reservation.id)">
  <img [src]="reservation.haircut?.imageURL"  alt="image coiffure" />
  <div class="haircut-card-info">
    <div></div>
    <div>{{ reservation.haircut?.title }}</div>
    <h3>{{ reservation.haircut?.price }} $</h3>
  </div>
</div>

<!-- si l'utilisateur est un client et haircut existe -->
<div class="haircut-card"  *ngIf="!isBarber && haircut" (click)="haircutSelected(haircut.id)">
  <img [src]="haircut.imageURL"  alt="image coiffure" />
  <div class="haircut-card-info">
    <div></div>
    <div>{{ haircut.title }}</div>
    <h3>{{ haircut.price }} $</h3>
  </div>
</div>
