// variable css pour la couleur de fond
@import "../../styles/colors.scss";

.card-{
  text-align: center;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  height: 239px;
  width: 100%;
  padding: 10px 10% ;

  .left{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid $color-gray-primary;
    height: 100%;
    align-self: stretch;
    img{
      max-width: 95%;
      height: 150px;
    }
  }
  .right{
    height: 100%;
    border: 1px solid $color-gray-primary;

  }
}
.img-radui{
  border-radius: 40% ;

}
.Button-i{
  display: flex;
  margin: auto;
  align-items: center;
  border-radius: 25% 10%;

}
@media (max-width: 750px) {
  .card- ,.list-button{
    height: 100%;
    flex-direction: column;

      button{
        width: 50%;
        padding: 5px 10px 20px 10px;
      }
  }
  img{
    padding-top:10px ;
    height: auto;
  }
}
