<div class="container p-fluid p-formgrid p-grid p-flex-column">
  <div class="card" *ngIf="reservation">
    <div class="card-left">
      <img
        class="card-left-img"
        [src]="reservation.haircut?.imageURL"
        alt="{{ reservation.haircut?.title }} image"
        width="250px"
        height="175px"
      />
      <div class="card-left-title">
        <h5>{{ reservation.haircut?.title }}</h5>
      </div>
    </div>
    <div class="card-right">
      <span>{{ reservation.haircut?.description }}</span>
      <p class="card-right-price">${{ reservation.haircut?.price }}</p>
      <p>Temps estimé : {{ reservation.haircut?.estimatingTime }}</p>
    </div>
  </div>
  <div class="card" *ngIf="!reservation">
    Nous n'avons aucune information sur cette réservation.
  </div>

  <div
    class="p-field p-md-4 p-md-offset-4 p-xl-offset-4 p-xl-4 p-sm-8 p-sm-offset-2 p-jc-center"
  >
    <button
      pButton
      [disabled]="!reservation"
      type="button"
      label="Accepter la Mission"
      class="p-button-success Button-i"
    ></button>
  </div>
</div>
