@import "../../../styles/colors.scss";

.objectif {
  &-card-body {
    span {
      font-size: 1.2rem;
      font-weight: bold;
    }

    &-container {
      width: 75%;
      p-toolbar {
        .p-toolbar-group-left {
          button {
            img {
              width: 50px !important;
              padding-right: 0.6rem;
            }
          }
        }
        .p-toolbar-group-right {
          button {
            img {
              width: 50px !important;
              padding-right: 0.6rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .objectif {
    &-card-body {
      &-container {
        transition: all 0.6s ease-in-out;
        width: 90%;
        p-toolbar {
          .p-toolbar-group-left {
            button {
              img {
                width: 50px !important;
                padding-right: 0.6rem;
              }
            }
          }
          .p-toolbar-group-right {
            button {
              img {
                width: 50px !important;
                padding-right: 0.6rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .objectif {
    &-card-body {
      &-container {
        transition: all 0.6s ease-in-out;
        width: 100%;
        p-toolbar {
          .p-toolbar-group-left {
            width: 100%;
            button {
              margin-bottom: 0.5rem;
            }
          }
          .p-toolbar-group-right {
            width: 100%;
            button {
              transition: all 0.6s ease;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .objectif {
    &-card-body {
      &-container {
        transition: all 0.6s ease-in-out;
        p-toolbar {
          .p-toolbar-group-left {
            width: 100%;
            button {
              transition: all 0.6s ease;
              width: 100%;
              flex-direction: column;
            }
          }
          .p-toolbar-group-right {
            width: 100%;
            button {
              transition: all 0.6s ease;
              margin-top: 0.5rem;
              width: 100%;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
