<div class="login">
  <div class="login-left">
    <img
      src="assets/barbershop.avif"
      alt="Register-image"
      style="background-size: 100% 100%"
    />
  </div>
  <div class="login-right">
    <div class="login-right-top">
      <h2>Login</h2>
      <hr />
    </div>
    <div class="login-right-bottom">
      <div class="p-col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid p-grid p-flex-column" id="login-field">
            <div class="p-field p-sm-12">
              <label for="username">Email</label>
              <input
                formControlName="username"
                id="username"
                type="text"
                pInputText
                placeholder="johnDoe@angulart.xyz"
              />
              <small
                *ngIf="
                  (this.loginForm['username'].invalid &&
                    this.loginForm['username'].dirty &&
                    this.loginForm['username'].touched) ||
                  (this.loginForm['username'].invalid && submitted)
                "
                class="p-error"
                style="color: red"
                >Email valide obligatoire</small
              >
            </div>
            <div class="p-field p-sm-12">
              <label>Mot de passe</label>
              <p-password
                formControlName="password"
                [toggleMask]="true"
              ></p-password>
              <small
                *ngIf="
                  (this.loginForm['password'].invalid &&
                    this.loginForm['password'].dirty &&
                    this.loginForm['password'].touched) ||
                  (this.loginForm['password'].invalid && submitted)
                "
                class="p-error"
                style="color: red"
                >Mot de passe doit avoir au moins 8 caractères</small
              >
            </div>
            <div
              class="p-field p-md-8 p-md-offset-2 p-xl-offset-3 p-xl-6 p-jc-center"
            >
              <button
                type="button"
                pButton
                label="Se Connecter"
                class="p-button-raised p-button-rounded p-button-success"
                (click)="onSubmit()"
              ></button>
            </div>
            <div class="p-field p-md-8 p-md-offset-2 p-xl-offset-3 p-xl-6 p-mb-3 p-jc-center">
              <p-button
                type="button"
                styleClass="p-button-raised p-button-rounded p-button-warning"
                label="Vous n'avez pas de compte ?"
                (click)="goToLogin()"
              ></p-button>
            </div>
            <div class="p-field p-md-8 p-md-offset-2 p-xl-offset-3 p-xl-6 p-mb-3 p-jc-center">
              <!-- Mot de passe oublié ? -->
              <p-button
                type="button"
                styleClass="p-button-raised p-button-rounded p-button-secondary"
                label="Mot de passe oublié ?"
                (click)="goToForgotPassword()"
              ></p-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
