<!-- Proposer deux buttons à l'utilisation (Button gauche et droite) -->
<!-- Button gauche : "Client" -->
<!-- Button droite : "Coiffeur" -->

<div class="objectif">
  <p-card
    header=""
    subheader="Choisissez le profil qui vous intéresse"
    class="p-ml-3 p-text-center objectif-card"
  >
    <div class="p-grid p-jc-center p-p-1 objectif-card-body">
      <div class="p-col-6 objectif-card-body-container">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <button
              pButton
              (click)="createClient()"
              type="button"
              label="Utilisateur"
              class="p-button-raised p-button-rounded"
            >
              <img
                alt="logo"
                src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png"
                style="width: 2rem"
              />
            </button>
          </div>
          <div class="p-toolbar-group-right">
            <button
              pButton
              (click)="createBarber()"
              type="button"
              label="Coiffeur"
              class="p-button-raised p-button-rounded"
            >
              <img
                alt="logo"
                src="https://cdn-icons-png.flaticon.com/512/40/40756.png"
                style="width: 2rem"
              />
            </button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <!-- <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-end">
        <p-button
          styleClass="p-button-success"
          [disabled]="isDisabled"
          label="Suivant"
          (onClick)="nextPage()"
          icon="pi pi-angle-right"
          iconPos="right"
        ></p-button>
      </div>
    </ng-template> -->
  </p-card>
</div>
