<div class="profil">
  <div class="profil-header">
    <!-- Recueil des informations personnelles du User -->
    <p-card styleClass="p-mt-5">
      <div class="p-grid">
        <div class="p-col-12">
          <form [formGroup]="form">
            <div
              class="p-fluid p-formgrid p-grid p-jc-center p-flex-xl-row p-flex-lg-row p-flex-md-row p-flex-column"
            >
              <div class="p-field p-sm-6">
                <label for="fname">Prénom</label>
                <input
                  formControlName="fname"
                  id="fname"
                  type="text"
                  pInputText
                  autocomplete
                />
                <small
                  *ngIf="this.userForm['fname'].invalid && submitted"
                  class="p-error"
                  style="color: red"
                  >Prénom est obligatoire</small
                >
              </div>
              <div class="p-field p-sm-6">
                <label for="lname">Nom</label>
                <input
                  formControlName="lname"
                  id="lname"
                  type="text"
                  pInputText
                  autocomplete
                />
                <small
                  *ngIf="this.userForm['lname'].invalid && submitted"
                  class="p-error"
                  style="color: red"
                  >Nom est obligatoire</small
                >
              </div>
              <div class="p-field p-sm-6">
                <label for="email">Email</label>
                <input
                  formControlName="email"
                  id="email"
                  type="text"
                  pInputText
                />
                <small
                  *ngIf="
                    (this.userForm['email'].invalid &&
                      this.userForm['email'].dirty &&
                      this.userForm['email'].touched) ||
                    (this.userForm['email'].invalid && submitted)
                  "
                  class="p-error"
                  style="color: red"
                  >Email valide obligatoire</small
                >
              </div>
              <div class="p-field p-sm-6">
                <label>Mot de passe</label>
                <p-password
                  formControlName="password"
                  [toggleMask]="true"
                ></p-password>
                <small
                  *ngIf="
                    (this.userForm['password'].invalid &&
                      this.userForm['password'].dirty &&
                      this.userForm['password'].touched) ||
                    (this.userForm['password'].invalid && submitted)
                  "
                  class="p-error"
                  style="color: red"
                  >Mot de passe doit avoir au moins 8 caractères</small
                >
              </div>
              <div class="p-field p-sm-6">
                <label>Téléphone</label>
                <input
                  formControlName="phone"
                  pInputText
                  [placeholder]="
                    this.userForm['phone'] &&
                    this.userForm['phone'].value !== '' &&
                    this.userForm['phone'].value !== undefined
                      ? this.userForm['phone'].value
                      : '+1 999 999 9999'
                  "
                />
                <small
                  *ngIf="this.userForm['phone'].invalid && submitted"
                  class="p-error"
                  style="color: red"
                  >Téléphone est obligatoire</small
                >
              </div>

              <div class="p-field p-sm-6">
                <label for="name">Photo de profil</label><br />
                <input
                  type="file"
                  class="p-inputtext"
                  accept="image/*"
                  (change)="onImageUpdload($event)"
                />
                <small
                  *ngIf="userForm['image'].invalid && submitted"
                  class="p-error"
                  >Image is required</small
                >
                <div class="p-col-3 p-mt-2 p-pl-0">
                  <img [src]="imageDisplay" style="width: 100%" />
                </div>

                <div class="p-field p-col-12 p-md:col-4">
                  <label for="icon">Icon</label>
                  <p-calendar
                    formControlName="dob"
                    [(ngModel)]="value"
                    [showIcon]="true"
                    inputId="icon"
                    dateFormat="dd.mm.yy"
                  ></p-calendar>
                </div>
              </div>
            </div>

            <!-- <div
            style="
              font-size: 1.1rem;
              font-weight: 600;
              text-align: center;
              text-decoration: underline;
              padding: 1.2rem 0;
            "
          >
            Informations Importantes en cas d'oublie de mot de passe
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12">
              <label for="question">Question de Sécurité</label><br />
              <input
                formControlName="question"
                id="question"
                type="text"
                pInputText
                placeholder="Entrer une question de votre choix"
              />
              <small
                *ngIf="userForm.question.invalid && isSubmitted"
                class="p-error"
                style="color: red"
                >Question de sécurité est obligatoire</small
              >
            </div>
            <div class="p-field p-col-9">
              <label for="reponse">Réponse</label><br />
              <input
                formControlName="reponse"
                id="reponse"
                type="text"
                pInputText
                placeholder="Entrer la réponse à la question"
              />
              <small
                *ngIf="userForm.reponse.invalid && isSubmitted"
                class="p-error"
                style="color: red"
                >Réponse est obligatoire</small
              >
            </div>
          </div> -->
          </form>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12">
          <p-toolbar>
            <div class="p-toolbar-group-left">
              <p-button
                (click)="prevPage()"
                label="Précedent"
                icon="pi pi-arrow-circle-left"
                styleClass="p-button-secondary p-mr-2 p-mb-1"
              ></p-button>
            </div>
            <div class="p-toolbar-group-right">
              <p-button
                label="Suivant"
                [icon]="'pi pi-arrow-circle-right'"
                styleClass="p-button-success"
                (onClick)="nextPage()"
              ></p-button>
            </div>
          </p-toolbar>
        </div>
      </div>

      <!-- <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-end">
          <p-button
            styleClass="p-button-success"
            label="Next"
            (onClick)="nextPage()"
            icon="pi pi-angle-right"
            iconPos="right"
          ></p-button>
        </div>
      </ng-template> -->
    </p-card>
  </div>
</div>
