<div class="password">
  <div class="password-left">
    <img
      src="https://images.unsplash.com/photo-1502899576159-f224dc2349fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
      alt="Register-image"
    />
  </div>
  <div class="password-right">
    <div class="password-right-top">
      <h2>Mot de passe Oublié</h2>
      <hr />
    </div>
    <div class="password-right-bottom">
      <div class="p-col-12 p-md-8 p-md-offset-2">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid p-grid p-flex-column" id="login-field">
            <div class="p-field p-sm-12">
              <label for="username">Email</label>
              <input
                id="username"
                type="text"
                pInputText
                placeholder="johnDoe@angulart.xyz"
                formControlName="username"
              />
              <small
                *ngIf="
                  (this.passwordForm['username'].invalid &&
                    this.passwordForm['username'].dirty &&
                    this.passwordForm['username'].touched) ||
                  (this.passwordForm['username'].invalid && submitted)
                "
                class="p-error"
                style="color: red"
              >Email valide obligatoire</small
              >
            </div>
            <div class="p-field p-md-8 p-md-offset-2 p-xl-offset-3 p-xl-6 p-jc-center">
              <p-button
                [disabled]="isValid && submitted"
                type="button"
                styleClass="p-button-raised p-button-rounded p-button-success"
                label="Réinitialiser le mot de passe"
                (click)="onSubmit()"
              ></p-button>
            </div>
            <div class="p-field p-md-8 p-md-offset-2 p-xl-offset-3 p-xl-6 p-mb-3 p-jc-center">
              <p-button
                type="button"
                styleClass="p-button-raised p-button-rounded p-button-warning"
                label="Revenir sur la page de connexion"
                (click)="goToLogin()"
              ></p-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
