<div class="navigation">
  <div>
    <span routerLink="/">Angulart</span>
  </div>
  <div><img [src]="image" width="60px" routerLink="/" /></div>
  <div class="navigation-list hide-desktop" id="blocMenu">
    <ul id="nav" class="navigation-list-container">
      <li
        class="exit-btn hide-desktop navigation-list-container-item"
        id="exit"
        (click)="openMenuBar()"
      >
        <a> <i class="pi pi-times"></i></a>
      </li>
      <li
        class="navigation-list-container-item"
        *ngIf="user && avatar"
        (click)="closeMenuBar()"
      >
        <p-avatar
          [image]="avatar"
          size="large"
          shape="circle"
          routerLink="/profile"
        ></p-avatar>
      </li>

      <li
        class="navigation-list-container-item"
        *ngIf="!user?.id || !user?.imageURL"
        (click)="closeMenuBar()"
      >
        <p-avatar
          label="U"
          size="large"
          shape="circle"
          routerLink="/profile"
        ></p-avatar>
      </li>
      <li
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation-list-container-item"
        (click)="closeMenuBar()"
      >
        Accueil
      </li>
      <li
        (click)="goToProfile()"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation-list-container-item"
        *ngIf="!user || user.id"
      >
        Profil
      </li>
      <li
        class="navigation-list-container-item"
        routerLink="/login"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="user?.id == null"
        (click)="closeMenuBar()"
      >
        Login
      </li>
      <li
        class="navigation-list-container-item"
        (click)="logoutUser()"
        *ngIf="user && user.id != null"
      >
        Deconnexion
      </li>
    </ul>
  </div>
  <div class="hide-desktop show-mobile">
    <i
      class="pi pi-bars"
      style="font-size: 2rem"
      id="menu"
      (click)="openMenuBar()"
    ></i>
  </div>
</div>
