@import "../../../styles/colors.scss";

.hide-desktop,
.hide-menu {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-image: $color-navigation-primary;
  padding: 0.5rem;
  color: $color-white-primary;
  border-radius: 1rem 1rem 0 0;

  & > div {
    min-width: 22%;

    &:first-child {
      span {
        transition: all 0.6s ease;
        padding-left: 2rem;
      }
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: right;

      ul {
        & > li {
          margin-left: 1rem;


        }
      }
    }
  }

  &-list {
    display: block;
  }

  @keyframes rotateAvatar {
    0% {
      transform: rotate(0deg);
      border: 2px solid $color-yellow-primary;
    }
    45% {
      border: 2px solid $color-gray-primary;
    }
    100% {
      transform: rotate(360deg);
      border: 2px solid $color-yellow-primary;
    }
  }

  img {
    transition: all 0s ease;
    cursor: pointer;
    border-radius: 50%;
    clip-path: circle();
    border: 2px solid $color-yellow-primary;
    object-fit: cover;
    &:hover {
      animation: 3s ease infinite rotateAvatar;
      transition: all 2.5s ease;
      border: 2px solid $color-white-primary;
    }
  }

  span {
    align-self: center;
    cursor: pointer;
    color: $color-yellow-primary;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      transition: all 0.6s ease;
      color: $color-white-primary;
    }
  }

  ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: center;

    li {
      margin-right: 1rem;
      cursor: pointer;
      align-self: center;

      &:hover {
        transition: all 0.3s ease-in-out;
        color: $color-yellow-primary;
      }

      // active color change
      &.active {
        color: $color-black-primary;
        font-weight: 600;
        transform: scale(1.2);
      }
    }

    li:nth-child(2) {
      clip-path: circle();
      color: $color-black-primary;
      //p-avatar {
      //  div{
      //    img{
      //      height: 50% !important;
      //      width: 50% !important;
      //    }
      //  }
      //}
       //
       //p-avatar {
       //  img{
       //    width: 0;
       //    height: 0;
       //  }
       //  border-radius: 48%;
       //  border: 2px solid $color-yellow-primary;
       //  object-fit: cover;
       //}
    }
  }
}

@media (max-width: 390px) {
  .navigation {
    ul {
      li {
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    &-list {
      &-container {
        &:last-child {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .show-menu {
    display: block;
    transition: all 0.6s ease;
  }

  .show-mobile {
    display: inline-block !important;
    transition: all 0.6s ease;
  }

  .hide-desktop {
    display: none;
    transition: all 0.6s ease;
  }

  .navigation {
    & > div {
      &:nth-child(1) {
        span {
          transition: all 0.6s ease;
          font-size: 1rem;
          padding-left: 0.5rem;
        }
      }

      // correspond au boutton Hamburger
      &:last-child {
        display: inline-block;
        text-align: right;
        margin-right: 0.5rem;
        transition: all 0.6s ease;
      }
    }

    &-list {
      position: fixed;
      width: 45%;
      top: 0;
      right: 0;
      text-align: left;
      background-color: rgba(36, 41, 44, 0.3);
      height: 100%;
      z-index: 25;
      padding-top: 2.5em;
      backdrop-filter: blur(10px);
      transition: all 0.6s ease;

      &-container {
        flex-direction: column;

        .exit-btn {
          display: block;
          color: white;
          margin: 1em;
          margin-top: -1.3em;
          margin-bottom: 1.1em;
          text-align: right;
          padding: 0 1.2em;
          margin-left: 60% !important;

          a {
            padding-left: 90%;
          }
        }

        &-item {
          position: relative;
          display: inline-block;
          margin: 15px 10px;
          padding: 10px;
          font-size: 1rem;
        }
      }
    }
  }
}
