@import "../../../styles/colors.scss";

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-image: $color-navigation-primary;
  padding: 0.5rem;
  color: $color-white-primary;

  img {
    transition: all 0s ease-out;
    &:hover {
      transform: rotate(360deg);
      transition: all 2.5s ease-out;
    }
  }

  span {
    align-self: center;
    cursor: pointer;
    color: $color-yellow-primary;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      transition: all 0.6s ease;
      color: $color-white-primary;
    }
  }

  ul {
    list-style: none;
    display: flex;
    padding-left: 0;

    li {
      margin-right: 1rem;
      cursor: pointer;
      &:hover {
        transition: all 0.3s ease-in-out;
        color: $color-yellow-primary;
      }

      // active color change
      &.active {
        color: $color-black-primary;
        font-weight: 600;
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: 390px) {
  .navigation {
    ul  {
      li {
        font-size: 0.8rem;
      }
    }
  }
}
