@import "../../styles/colors.scss";

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: $color-navigation-primary;
  padding: 0 0.5rem;

  span {
    align-self: center;
  }

  ul {
    list-style: none;
    display: flex;

    li {
      margin-right: 1rem;
    }
  }
}
