<div class="container p-fluid p-formgrid p-grid p-flex-column">
  <!-- [Coiffeur] : Information sur le client de la réservation -->
  <div class="card" *ngIf="reservation && canAcceptReservation">
    <div class="card-left">
      <img
        class="card-left-img"
        [src]="reservation.client?.imageURL"
        alt="{{ reservation.client?.fname }} image"
        width="250px"
        height="175px"
      />
      <div class="card-left-titleClient">
        <h5>{{ reservation.client?.fname }}</h5>
      </div>
    </div>
    <div class="card-right">
      <span>
        Salut, Si tu es intéressé pour me coiffer, je serai sur cette adresse : <br>
        <span *ngIf="reservation.client?.address?.apartement">
          #{{ reservation.client?.address?.apartement }},
        </span>
        Rue {{ reservation.client?.address?.street }} dans la ville de
        {{ reservation.client?.address?.city }}/{{ reservation.client?.address?.state }}<br>
        Et je suis d'accord pour le tarif de <span class="card-right-price">{{ reservation.haircut?.price }} $</span>
      </span>
      <p>
        Date Prévue : {{ reservation.reservationDate | date }}
        {{ reservation.reservationTime?.hours }}:{{
        reservation.reservationTime?.minutes
        }}
      </p>
    </div>
  </div>

  <!-- [Coiffeur & Client] : Information sur la coiffure -->
  <div class="card" *ngIf="reservation">
    <div class="card-left">
      <img
        class="card-left-img"
        [src]="reservation.haircut?.imageURL"
        alt="{{ reservation.haircut?.title }} image"
        width="250px"
        height="175px"
      />
      <div class="card-left-title">
        <h5>{{ reservation.haircut?.title }}</h5>
      </div>
    </div>
    <div class="card-right">
      <span>{{ reservation.haircut?.description }}</span>
      <p class="card-right-price">${{ reservation.haircut?.price }}</p>
      <p>Temps estimé : {{ reservation.haircut?.estimatedTime }}</p>
      <p>
        Date Prévue : {{ reservation.reservationDate | date }}
        {{ reservation.reservationTime?.hours }}:{{
          reservation.reservationTime?.minutes
        }}
      </p>
      <p *ngIf="reservation?.status == STATUS.PENDING" style="margin: 0 auto">
        <button
          pButton
          pRipple
          type="button"
          label="En Attente"
          class="p-button-rounded p-button-info"
        ></button>
      </p>
      <p *ngIf="reservation.status == STATUS.ACCEPTED" style="margin: 0 auto">
        <button
          pButton
          pRipple
          type="button"
          label="Acceptée"
          class="p-button-rounded p-button-success"
        ></button>
      </p>
      <p *ngIf="reservation.status == STATUS.FINISHED" style="margin: 0 auto">
        <button
          pButton
          pRipple
          type="button"
          label="Terminée"
          class="p-button-rounded p-button-danger"
        ></button>
      </p>
    </div>
  </div>
  <div class="card" *ngIf="!reservation">
    Désolé, Nous n'avons aucune information sur cette réservation.
  </div>

  <!-- [Coiffeur] : Bouton accepté réservation -->
  <div
    class="p-field p-md-4 p-md-offset-4 p-xl-offset-4 p-xl-4 p-sm-8 p-sm-offset-2 p-jc-center"
  >
    <button
      pButton
      [disabled]="!reservation && !canAcceptReservation && user?.role === 'ROLE_BARBER'"
      type="button"
      label="Accepter la Mission"
      class="p-button-success Button-i"
      [ngClass]="
        !canAcceptReservation || hide || reservation?.status === STATUS.ACCEPTED
          ? 'dn'
          : ''
      "
      (click)="acceptMission()"
    ></button>

    <!-- [Client] : Bouton modifier réservation -->
    <button
      pButton
      [disabled]="!reservation && canAcceptReservation"
      type="button"
      label="Modifier Ma Réservation"
      class="p-button-success Button-i"
      [ngClass]="!canAcceptReservation || hide ? '' : 'dn'"
      (click)="modifyReservation()"
    ></button>
  </div>
</div>
