@import "../../../styles/colors.scss";

.container {
  margin: 0 auto;
  min-height: 20vh;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%),
  radial-gradient(
      at top left,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
  );
  background-blend-mode: screen;
}

.dn{
  display: none;
}

.card {
  text-align: center;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  //width: 100%;
  margin: 1rem;
  //border: 2px solid $color-black-primary;


  &-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid $color-gray-primary;

    &-img {
      height: 100%;
      object-fit: cover;
    }

    &-title {
      background-color: $color-yellow-primary;
      width: 250px;
    }

    &-titleClient {
      background-image: $color-primary;
      width: 100%;
      color: $color-white-primary;
      letter-spacing: 2px;
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
    height: 100%;
    width: 70%;

    span{
      font-size: 1.1rem;
    }

    &-price {
      font-size: 1.5rem;
      font-weight: bold;
      color: $color-black-primary;
      margin: 1rem 0 0 0;
    }
  }
}

@media (max-width: 535px) {
  .card {
    margin: 0.25rem 0;
    flex-direction: column;
    font-size: 0.8rem;
    &-left {
      width: 100%;
      img {
        max-height: 380px;
        //min-height: 380px;
        width: 100%;
      }
      &-title {
        width: 100%;
      }
    }
    &-right {
      width: 100%;
      p {
        margin: 0;
      }
      span {
        font-size: 0.8rem;
        margin-top: 0.5rem;
      }
      &-price {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem 0;
      }
      &-list-button {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        flex-direction: column;
        align-items: center;

        button {
          width: 50%;
          margin: 5px 0;
        }
      }
    }
  }
}

