// import Variable
@import "../../styles/colors.scss";

.home-page-container {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

@media only screen and (max-width: 426px) {
  .home-page-container {
    flex-direction: column;
    align-items: center;

    &-haircut-card {
      width: 90%;
    }
  }
}
