<div class="card-profile">
  <!-- Mes informations -->
  <p-fieldset
    legend="Mes Informations"
    [toggleable]="true"
    styleClass="p-my-2"
    class="card-profile-compte"
    *ngIf="user"
  >
    <div class="card">
     <div class="card-profile-compte-header">
       <div class="card-profile-compte-header-image">
         <img *ngIf="avatar && !avatarBuffer"
              [src]="avatar"
              alt="image de {{ user.fname }}"
              width="90px"
              height="90px"
         />
         <img *ngIf="!avatar && avatarBuffer"
              [src]="avatarBuffer"
              alt="image de {{ user.fname }}"
              width="90px"
              height="90px"
         />
       </div>
       <div class="card-profile-compte-header-vide"></div>
     </div>
      <div class="p-grid">
        <div class="p-col-5">
          <div class="card-profile-compte-content">
            <p-divider type="dashed" align="center">
              <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-user p-mr-2"></i>
                <b>Profil</b>
              </div>
            </p-divider>
<!--            <img *ngIf="avatar && !avatarBuffer"-->
<!--              [src]="avatar"-->
<!--              alt="image de {{ user.fname }}"-->
<!--              width="90px"-->
<!--              height="90px"-->
<!--            />-->
<!--            <img *ngIf="!avatar && avatarBuffer"-->
<!--                 [src]="avatarBuffer"-->
<!--                 alt="image de {{ user.fname }}"-->
<!--                 width="90px"-->
<!--                 height="90px"-->
<!--            />-->
            <p><span>ID Client</span> : {{ user.id }}</p>
            <p><span>Prénom</span> : {{ user.fname }}</p>
            <p><span>Nom</span> : {{ user.lname }}</p>
            <p>
              <span *ngIf="user.dob"
                >Age : <span class="infoAge">{{ user.dob | age }}</span>
              </span>
              <span *ngIf="!user.dob"
                >Age : <span class="infoAgeEmpty"> non renseigné </span></span
              >
            </p>
            <p><span>Email</span> : {{ user.email }}</p>
            <p><span>Téléphone</span> : {{ user.phone }}</p>
            <p>
              <span>Type de compte</span> :
              {{
                user.role === 'ROLE_CLIENT'  ? "Client" : user.role === 'ROLE_BARBER' ? "Coiffeur" : "Admin"
              }}
            </p>
          </div>
        </div>

        <div class="p-col-2">
          <p-divider layout="vertical"> </p-divider>
        </div>

        <div class="p-col-5" *ngIf="user.address">
          <div class="card-profile-compte-content">
            <p-divider type="dashed" align="center">
              <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-map-marker p-mr-2"></i>
                <b>Adresse</b>
              </div>
            </p-divider>
            <p *ngIf="user.address.apartment">
              <span>Rue</span> : #{{ user.address.apartment }},
              {{ user.address.street }}
            </p>
            <p *ngIf="!user.address.apartment">
              <span>Rue</span> : {{ user.address.street }}
            </p>
            <p><span>Ville</span>: {{ user.address.city }}</p>
            <p><span>Code Postal</span> : {{ user.address.zip }}</p>
            <p><span>Province</span> : {{ user.address.state }}</p>
          </div>
          <div class="p-flex p-fluid p-jc-center p-col-10 p-offset-1 p-md-10 p-md-offset-1 p-lg-8 p-lg-offset-2">
            <p-button
              type="button"
              icon="pi pi-pencil"
              styleClass="p-button p-button-info p-mr-3 p-mt-3"
              label="Modifier mes informations"
              (click)="updateInformationsUser()"
            >
            </p-button>
            <p-button
              type="button"
              icon="pi pi-trash"
              styleClass="p-button p-button-danger p-mt-3"
              label="Supprimer mon compte"
              (click)="deleteCompteUser()"
            >
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>

  <!--  Réservations dans le cas d'un client -->
  <p-fieldset
    legend="Mes Réservations"
    [toggleable]="true"
    styleClass="p-my-4"
    class="card-profile-compte"
    *ngIf="user?.role === 'ROLE_CLIENT' && user?.role !== 'ROLE_BARBER'"
  >
    <div class="container">
      <div
        *ngFor="let reservation of reservations"
        class="p-col-6 p-md-4 p-lg-3 p-xl-3 p-mb-3 card-reservation"
      >
        <div class="card-reservation-left">
          <div class="card-reservation-left-image">
            <img
              [src]="reservation.haircut?.imageURL"
              alt="{{ reservation.haircut?.title }} image"
              width="250px"
              height="175px"
            />
          </div>
          <div class="card-reservation-left-title">
            <h5>{{ reservation.haircut?.title }}</h5>
          </div>
        </div>
        <div class="card-reservation-right">
          <!-- <span>{{haircut.heure}}<br></span> -->
          <span>{{ reservation.haircut?.description }}</span>
          <p class="card-reservation-right-price">
            ${{ reservation.haircut?.price }}
          </p>
          <p>Temps estimé : {{ reservation.haircut?.estimatedTime }}</p>

          <div class="card-reservation-right-list-button">
            <button
              pButton
              type="button"
              label="Voir"
              class="p-button-info"
              (click)="viewDetails(reservation.id)"
            ></button>
            <button
              pButton
              type="button"
              label="Supprimer"
              class="p-button-danger"
              (click)="deleteReservation(reservation.id)"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>
  <p-confirmDialog #dc
    header="Confirmation Suppression"
    icon="pi pi-exclamation-triangle"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [style]="{width: '50vw'}">
  <ng-template pTemplate="footer">
    <p-button type="button" icon="pi pi-times" styleClass="p-button p-button-success" label="Non" (click)="dc.reject()"></p-button>
    <p-button type="button" icon="pi pi-check" styleClass="p-button p-button-danger" label="Oui" (click)="dc.accept()"></p-button>
  </ng-template>
  </p-confirmDialog>

  <!-- Commande dans le cas d'un coiffeur  -->
  <p-fieldset
    legend="Mes Missions"
    [toggleable]="true"
    styleClass="p-my-4"
    class="card-profile-compte"
    *ngIf="user?.role === 'ROLE_BARBER' && user?.role !== 'ROLE_CLIENT'"
  >
    <div class="container">
      <div
        *ngFor="let reservation of reservations"
        class="p-col-6 p-md-4 p-lg-3 p-xl-3 p-mb-3 card-reservation"
      >
        <div class="card-reservation-left">
          <div class="card-reservation-left-image">
            <img
              [src]="reservation.haircut?.imageURL"
              alt="{{ reservation.haircut?.title }} image"
              width="250px"
              height="175px"
            />
          </div>
          <div class="card-reservation-left-title">
            <h5>{{ reservation.haircut?.title }}</h5>
          </div>
        </div>
        <div class="card-reservation-right">
          <!-- <span>{{haircut.heure}}<br></span> -->
          <span>{{ reservation.haircut?.description }}</span>
          <p class="card-reservation-right-price">
            ${{ reservation.haircut?.price }}
          </p>
          <p>Temps estimé : {{ reservation.haircut?.estimatedTime }}</p>

          <div class="card-reservation-right-list-button">
            <button
              pButton
              type="button"
              label="Voir"
              class="p-button-info"
              (click)="viewDetails(reservation.id)"
            ></button>
            <button
              pButton
              type="button"
              label="Se désister"
              class="p-button-danger"
              (click)="dropOut(reservation.id)"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>
</div>
