.card-profile {
  width: 100%;
  min-height: 75vh;
  &-compte-content {
    img {
      width: 30%;
      height: 30%;
      object-fit: cover;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }

    p {
      span {
        font-weight: bold;
      }
    }
  }
}
