@import "../../../styles/colors.scss";

.card-profile {
  width: 100%;
  //min-height: 50vh; // 70vh before

  &-compte-content {
    //img {
    //  height: 30%;
    //  min-width: 35%;
    //  object-fit: cover;
    //  border-radius: 50%;
    //  margin: 0 auto;
    //  display: block;
    //  clip-path: circle();
    //  border: 2px solid $color-yellow-primary;
    //}

    p {
      span {
        font-weight: bold;
        .infoAge {
          font-weight: normal;
        }
        .infoAgeEmpty {
          font-weight: normal;
          color: $color-red-primary;
        }
      }
    }
  }

  &-compte-header{
    display: flex;

    &-image{
      width: 50%;

      img {
        object-fit: cover;
        border-radius: 50%;
        margin: 0 0 0 34%;
        display: block;
        clip-path: circle();
        border: 2px solid $color-yellow-primary;
      }
    }

    &-vide {
      width: 50%;
    }
  }
}

.card{
  .p-col-2 {
      margin-top: 1rem !important;
  }
}

.card-reservation {
  text-align: center;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  margin: 1rem auto;
  border: 2px solid $color-black-primary;

  &-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid $color-gray-primary;

    &-image {
      img {
        height: 220px;
        object-fit: cover;
      }
    }
    &-title {
      background-color: $color-yellow-primary;
      width: 250px;
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
    height: 100%;

    &-price {
      font-size: 1.5rem;
      font-weight: bold;
      color: $color-black-primary;
      margin: 1rem 0 0 0;
    }

    &-list-button {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@media (max-width: 558px) {
  .card-reservation {
    flex-direction: column;
    &-left {
      width: 100%;
      &-image {
        width: 100%;
        img {
          max-height: 380px;
          //min-height: 380px;
          width: 100%;
        }
      }
      &-title {
        width: 100%;
      }
    }
    &-right {
      padding: 0;
      p {
        margin: 0;
      }
      span {
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }
      &-price {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem 0;
      }
      &-list-button {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        flex-direction: column;
        align-items: center;

        button {
          width: 50%;
          margin: 5px 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .card {
    &-profile{
      &-compte{
        &-header{
          justify-content:center;

          &-vide{
            display: none;
          }

          &-image{
            display: flex;
            width: 100%;
            justify-content:center;

            img{
              margin: 0;
            }
          }
        }
      }
    }

    .p-grid {
      flex-direction: column;

      img {
        max-height: 200px;
        max-width: 30%;
        //clip-path: unset;
      }

      .p-col-5 {
        width: 100%;
      }

      .p-col-2 {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 2100px) {
  .card-profile{
    margin: 0 auto;
    width: 65%;
  }
}
