<div class="card-profile">
  <!-- Mes informations -->
  <p-fieldset
    legend="Mes Informations"
    [toggleable]="true"
    styleClass="p-my-4"
    class="card-profile-compte"
    *ngIf="user"
  >
    <div class="card">
      <div class="p-grid">
        <div class="p-col-5">
          <div class="card-profile-compte-content">
            <p-divider type="dashed" align="center">
              <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-user p-mr-2"></i>
                <b>Profil</b>
              </div>
            </p-divider>
            <img
              [src]="user.imageURL"
              alt="image de {{ user.fname }}"
              width="90px"
              height="90px"
            />
            <p><span>ID Client</span> : {{ user.id }}</p>
            <p><span>Prénom</span> : {{ user.fname }}</p>
            <p><span>Nom</span> : {{ user.lname }}</p>
            <p>
              <span *ngIf="user.dob"
                >Age : <span class="infoAge">{{ user.dob | age }}</span>
              </span>
              <span *ngIf="!user.dob"
                >Age : <span class="infoAgeEmpty"> non renseigné </span></span
              >
            </p>
            <p><span>Email</span> : {{ user.email }}</p>
            <p><span>Téléphone</span> : {{ user.phone }}</p>
            <p><span>Type de compte</span> : {{ user.isClient ? 'Client' : user.isBarber ? 'Coiffeur' : 'Admin' }}</p>
          </div>
        </div>

        <div class="p-col-2">
          <p-divider layout="vertical"> </p-divider>
        </div>

        <div class="p-col-5" *ngIf="user.address">
          <div class="card-profile-compte-content">
            <p-divider type="dashed" align="center">
              <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-map-marker p-mr-2"></i>
                <b>Adresse</b>
              </div>
            </p-divider>
            <p *ngIf="user.address.apartment">
              <span>Rue</span> : #{{ user.address.apartment }},
              {{ user.address.street }}
            </p>
            <p *ngIf="!user.address.apartment">
              <span>Rue</span> : {{ user.address.street }}
            </p>
            <p><span>Ville</span>: {{ user.address.city }}</p>
            <p><span>Code Postal</span> : {{ user.address.zip }}</p>
            <p><span>Province</span> : {{ user.address.state }}</p>
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>

  <!--  Réservations dans le cas d'un client -->
  <p-fieldset
    legend="Mes Réservations"
    [toggleable]="true"
    styleClass="p-my-4"
    class="card-profile-compte"
    *ngIf="user.isClient && !user.isBarber"
  >
    <div class="container">
      <div
        *ngFor="let reservation of reservations"
        class="p-col-6 p-md-4 p-lg-3 p-xl-3 p-mb-3 card-reservation"
      >
        <div class="card-reservation-left">
          <div class="card-reservation-left-image">
            <img
              [src]="reservation.haircut?.imageURL"
              alt="{{ reservation.haircut?.title }} image"
              width="250px"
              height="175px"
            />
          </div>
          <div class="card-reservation-left-title">
            <h5>{{ reservation.haircut?.title }}</h5>
          </div>
        </div>
        <div class="card-reservation-right">
          <!-- <span>{{haircut.heure}}<br></span> -->
          <span>{{ reservation.haircut?.description }}</span>
          <p class="card-reservation-right-price">
            ${{ reservation.haircut?.price }}
          </p>
          <p>Temps estimé : {{ reservation.haircut?.estimatingTime }}</p>

          <div class="card-reservation-right-list-button">
            <button
              pButton
              type="button"
              label="Voir"
              class="p-button-info"
              (click)="viewDetails(reservation.id)"
            ></button>
            <button
              pButton
              type="button"
              label="Supprimer"
              class="p-button-danger"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>

  <!-- Commande dans le cas d'un coiffeur  -->
  <p-fieldset
    legend="Mes Missions"
    [toggleable]="true"
    styleClass="p-my-4"
    class="card-profile-compte"
    *ngIf="user.isBarber && !user.isClient"
  >
    <div class="container">
      <div
        *ngFor="let reservation of reservations"
        class="p-col-6 p-md-4 p-lg-3 p-xl-3 p-mb-3 card-reservation"
      >
        <div class="card-reservation-left">
          <div class="card-reservation-left-image">
            <img
              [src]="reservation.haircut?.imageURL"
              alt="{{ reservation.haircut?.title }} image"
              width="250px"
              height="175px"
            />
          </div>
          <div class="card-reservation-left-title">
            <h5>{{ reservation.haircut?.title }}</h5>
          </div>
        </div>
        <div class="card-reservation-right">
          <!-- <span>{{haircut.heure}}<br></span> -->
          <span>{{ reservation.haircut?.description }}</span>
          <p class="card-reservation-right-price">
            ${{ reservation.haircut?.price }}
          </p>
          <p>Temps estimé : {{ reservation.haircut?.estimatingTime }}</p>

          <div class="card-reservation-right-list-button">
            <button
              pButton
              type="button"
              label="Voir"
              class="p-button-info"
              (click)="viewDetails(reservation?.id)"
            ></button>
            <button
              pButton
              type="button"
              label="Supprimer"
              class="p-button-danger"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>


</div>
