@import "../../../styles/colors.scss";


.card-profile {
  width: 100%;
  min-height: 75vh;
  &-compte-content {
    img {
      width: 30%;
      height: 30%;
      object-fit: cover;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }

    p {
      span {
        font-weight: bold;
      }
    }
  }
}

.card-reservation {
  text-align: center;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  margin: 1rem auto;
  border: 2px solid $color-black-primary;

  &-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid $color-gray-primary;

    &-image {
      img {
        height: 220px;
        object-fit: cover;
      }
    }
    &-title {
      background-color: $color-yellow-primary;
      width: 250px;
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
    height: 100%;

    &-price {
      font-size: 1.5rem;
      font-weight: bold;
      color: $color-black-primary;
      margin: 1rem 0 0 0;
    }

    &-list-button {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@media (max-width: 535px) {
  .card-reservation {
    flex-direction: column;
    &-left {
      width: 100%;
      &-image {
        width: 100%;
        img {
          max-height: 380px;
          min-height: 380px;
          width: 100%;
        }
      }
      &-title {
        width: 100%;
      }
    }
    &-right {
      padding: 0;
      p {
        margin: 0;
      }
      span {
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }
      &-price {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem 0;
      }
      &-list-button {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        flex-direction: column;
        align-items: center;

        button {
          width: 50%;
          margin: 5px 0px;
        }
      }
    }
  }
}

